Repository snark87/fluent-llm-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, make-test, make-lint

go-fmt:
  name: Go Format
  description: Runs gofmt to format Go code
  entry: gofmt
  args:
  - -w
  language: system

go-imports:
  name: Go Imports
  description: Runs goimports to format Go imports
  entry: goimports
  args:
  - -w
  language: system

go-mod-tidy:
  name: Go Mod Tidy
  description: Runs go mod tidy to clean up module dependencies
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

make-test:
  name: Make Test
  description: Runs tests using make test
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

make-lint:
  name: Make Lint
  description: Runs linter using make lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

feat: init go module
  go.mod
Due: go-mod-tidy

chore: add initial gitignore
  .gitignore
Due: none

chore: add env to gitignore
  .gitignore
Due: none

build: add Makefile
  Makefile
Due: none

feat: add minimal implementation for Gemini
  fluentllm.go
  fluentllm_test.go
  gemini/credentials.go
  gemini/gemini.go
  gemini/schema.go
  go.mod
  go.sum
  internal/lazy/lazy.go
  internal/lazy/lazy_test.go
  internal/testutils/must.go
Due: go-fmt, go-imports, go-mod-tidy, make-test, make-lint

docs: add MIT license and README
  LICENSE
  README.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  make-test: any of: \.go$
  make-lint: any of: \.go$
